<div class="settings_box">
  <p id="box-title">Color Picker</p>

  <a id="panel_toggler" href="javascript:void(0);">
    <img src="assets/settings_box/settings_icon.png" alt="Color Scheme" />
  </a>

  <p>Please select your color scheme</p>

  <div id="colors">
    <a id="color-1" class="current" href="javascript:void(0);" data-href="assets/css/color_style/color_1.css"></a>
    <a id="color-2" href="javascript:void(0);" data-href="assets/css/color_style/color_2.css"></a>
    <a id="color-3" href="javascript:void(0);" data-href="assets/css/color_style/color_3.css"></a>
    <a id="color-4" href="javascript:void(0);" data-href="assets/css/color_style/color_4.css"></a>
    <a id="color-5" href="javascript:void(0);" data-href="assets/css/color_style/color_5.css"></a>
    <a id="color-6" href="javascript:void(0);" data-href="assets/css/color_style/color_6.css"></a>
    <a id="color-7" href="javascript:void(0);" data-href="assets/css/color_style/color_7.css"></a>
    <a id="color-8" href="javascript:void(0);" data-href="assets/css/color_style/color_8.css"></a>
    <a id="color-9" href="javascript:void(0);" data-href="assets/css/color_style/color_9.css"></a>
    <a id="color-10" href="javascript:void(0);" data-href="assets/css/color_style/color_10.css"></a>
    <a id="color-11" href="javascript:void(0);" data-href="assets/css/color_style/color_11.css"></a>
    <a id="color-12" href="javascript:void(0);" data-href="assets/css/color_style/color_12.css"></a>
  </div>

  <div id="box-text">
    <p>Note:</p>

    <p>Current color palette used for demo purposes. You can have unlimited color options.</p>
  </div>
</div>
