<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">Sarah Smith</div>
                <div class="name-center">Computer Department</div>
              </div>
              <img src="assets/images/user/usrbig4.jpg" class="user-img" alt="">
              <p>
                456, Estern evenue, Courtage area,
                <br />New York
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>264-625-2583</span>
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>564</h5>
                  <small>Following</small>
                </div>
                <div class="col-4">
                  <h5>18k</h5>
                  <small>Followers</small>
                </div>
                <div class="col-4">
                  <h5>565</h5>
                  <small>Post</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">

        </div>
      </div>
>
    </div>
  </div>
</section>
