<div class="content-slider-container box">
  <div class="content-slider" data-animation="fade">
    <div class="slides-container">
      <div class="slide">
        <img class="img-responsive" src="assets/public/images/slide_img/slider_small_1.jpg" alt="demo">

        <div class="description">
          <div class="inner">
            <p class="title">Discover your potential then Exceed it</p>

            <p>
              Enthusiast saphire university presidential luxury silver cultered wine. University engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare
            </p>

            <a href="#" class="custom-btn">Learn More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <img class="img-responsive" src="assets/public/images/slide_img/slider_small_2.jpg" alt="demo">

        <div class="description">
          <div class="inner">
            <p class="title">1 Discover your potential then Exceed it</p>

            <p>
              1 Enthusiast saphire university presidential luxury silver cultered wine. University engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare
            </p>

            <a href="#" class="custom-btn">Learn More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <img class="img-responsive" src="assets/public/images/slide_img/slider_small_3.jpg" alt="demo">

        <div class="description">
          <div class="inner">
            <p class="title">2 Discover your potential then Exceed it</p>

            <p>
              2 Enthusiast saphire university presidential luxury silver cultered wine. University engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare
            </p>

            <a href="#" class="custom-btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
