
		<a href="index_2.html" id="header-logo_2" class="site-logo">University</a>

    <a id="menu-close" href="javascript:void(0);">Close Menu</a>

    <nav id="mobile-navigation" class="mobile-menu">
      <ul>
        <li>
          <a href="#">Faculties</a>

          <div class="dropdown">
            <ul>
              <li><a href="faculties_1.html">Faculties 1</a></li>
              <li><a href="faculties_2.html">Faculties 2</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>

    <nav id="mobile-submenu">
      <app-nav-secondmenu></app-nav-secondmenu>
    </nav>
