<ul>
  <li>
    <a routerLink="etablissements">Facultés</a>

    <div class="dropdown">
      <ul class="bg-7">
        <li><a routerLink="etablissement">Faculté des Sciences Economiques</a></li>
        <li><a routerLink="etablissement">Faculté des Lettres et des Sciences Humaines (FLSH)</a></li>
        <li><a routerLink="etablissement">Faculté des Sciences (FS)</a></li>
        <li><a routerLink="etablissement">Faculté des Sciences de la Santé (FSS)</a></li>
        <li><a routerLink="etablissement">Faculté de Droit</a></li>
      </ul>
    </div>
  </li>
  <li>
    <a routerLink="etablissements">Ecoles/Instituts</a>

    <div class="dropdown">
      <ul class="bg-7">
        <li><a routerLink="etablissement">Ecole Normale d’Administration et de Magistrature</a></li>
        <li><a routerLink="etablissement">Ecole Normale Supérieure</a></li>
        <li><a routerLink="etablissement">Ecole Normale Supérieure Polytechnique</a></li>
        <li><a routerLink="etablissement">Institut Supérieur de Gestion</a></li>
        <li><a routerLink="etablissement">Institut de Développement Rural</a></li>
        <li><a routerLink="etablissement">Institut Supérieur d’Education Physique et Sportive</a></li>
      </ul>
    </div>
  </li>
  <li>
    <a routerLink="etablissement">Bourses</a>
    <div class="dropdown">
      <ul class="bg-7">
        <li><a routerLink="etablissement">Internationales</a></li>
        <li><a routerLink="etablissement">Nationales</a></li>
      </ul>
    </div>
  </li>
  <li>
    <a routerLink="contact">Contact</a>
  </li>
</ul>
