<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Q1. Anim pariatur cliche reprehenderit?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life
          accusamus terry richardson ad squid. 3 wolf moon officia aute,
          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
          laborum
          eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
          squid
          single origin coffee nulla assumenda shoreditchet. Nihil anim
          keffiyeh
          helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
          proident.
          Ad vegan excepteur butcher vice lomo. Nihil anim keffiyeh
          helvetica,
          craft beer labore wes anderson cred nesciunt sapiente.
        </div>
        <div class="mt-2">
          <button mat-raised-button class="bg-green text-white"
              (click)="showNotification('snackbar-success','You have new Massage...!!!','top','Right')">
              S'inscrire
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
