<div class="text-block box P30 bg-0">
  <p class="title h1">N°1 American University</p>

  <div class="text">
    <p>
      Presidential upper polo opulent luxury symphony five-star benefiting sheer. Opera gentlemen politically cuisine gifted club rich yacht becoming caviar.<br />Brilliant in a five-star in grande sterling benefactor. Ambassador rich metropolitan townhome pleasure art cigar. With champagne topiary portfolio sport delegate. Plure with echelon reserved elegant reserved echelon society symphony. Brokerage sport cruise yacht private.
    </p>
  </div>

  <a href="#" class="more-link colored"><i class="arrow"></i>Learn more</a>
</div>
