<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="header-item bg-0">
      <div class="line">
        <a routerLink="" id="header-logo" class="site-logo">Université Marien Ngouabi</a>

        <a routerLink="" class="custom-btn colored"  style="font-size: 0.9em;font-weight: bold;">
          <i class="fas fa-user"></i>
          S'inscription
        </a>
      </div>

      <div class="line">
        <p id="header-slogan">Université Marien Ngouabi de Brazzaville </p>

        <div class="social-btn">
          <a class="icon-twitter-bird" href="#"></a>
          <a class="icon-linkedin-rect" href="#"></a>
          <a class="icon-facebook-rect" href="#"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="header-item bg-4">
      <a id="menu-open" class="" href="javascript:void(0);">Open Menu<span></span></a>

      <nav id="navigation" class="header-menu">
        <app-nav-fistmenu></app-nav-fistmenu>
      </nav>

      <nav id="submenu" class="header-menu bg-2">
        <app-nav-secondmenu></app-nav-secondmenu>
      </nav>
    </div>
  </div>
</div>
