<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='student.photo' alt="avatar">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="stdForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="prenom" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="stdForm.get('prenom').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="stdForm.get('nom').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <!-- <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Department</mat-label>
            <mat-select formControlName="department" required>
              <mat-option [value]="'mechanical'">
                Mechanical
              </mat-option>
              <mat-option [value]="'science'">
                Science
              </mat-option>
              <mat-option [value]="'mathematics'">
                Mathematics
              </mat-option>
              <mat-option [value]="'computer'">
                Computer
              </mat-option>
              <mat-option [value]="'civil'">
                Civil
              </mat-option>
            </mat-select>
            <mat-error *ngIf="stdForm.get('department').hasError('required')">
              Select Any Department
            </mat-error>
          </mat-form-field> -->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Sexe</mat-label>
            <mat-select formControlName="sexe" required>
              <mat-option [value]="1">
                Homme
              </mat-option>
              <mat-option [value]="2">
                Femme
              </mat-option>
              <mat-option [value]="0">
                Autre
              </mat-option>
            </mat-select>
            <mat-error *ngIf="stdForm.get('sexe').hasError('required')">
              Gender is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="phoneNumber" type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="stdForm.get('phoneNumber').hasError('required')">
              Mobile is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="stdForm.get('email').hasError('required') || stdForm.get('email').touched">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Niu</mat-label>
            <input matInput formControlName="niu" required>
            <mat-icon matSuffix>Id</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Université</mat-label>
            <mat-select formControlName="universiteEtudiantId" required>
              <mat-option [value]="1">
                Marien Ngouabi
              </mat-option>
              <mat-option [value]="2">
                DSN
              </mat-option>
              <mat-option [value]="3">
                Makani
              </mat-option>
            </mat-select>
            <mat-error *ngIf="stdForm.get('universiteEtudiantId').hasError('required')">
              Gender is required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Date naiss</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="stdForm.get('dateNaissance').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div> -->
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!stdForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
