<div class="block-courses block-with-date box">
  <img class="img-responsive hidden-md" src="assets/images/upcoming_1.jpg" alt="demo" />

  <img class="img-responsive visible-md" src="assets/images/upcoming_1_1.jpg" alt="demo" />

  <div class="description">
    <div class="inner">
      <p class="title">Upcoming Courses</p>

      <div class="date">
        <span class="first number">2</span>

        <span class="second number">8</span>

        <span class="month">August</span>
      </div>

      <div class="text">
        <p>Design &amp; Construction Conference</p>

        <a href="#" class="custom-btn">Learn More</a>
      </div>
    </div>
  </div>
</div>
