<div class="video-block box">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-5 col-lg-4">
      <div class="column-description P30 bg-2 corner">
        <h5>Campus Spotlight</h5>

        <div class="text">
          <p>
            University rare opulent theatre becoming into property from auction gentlemen. Society symbolizing upper to panoramic enthusiast politically educated.
          </p>
        </div>

        <a href="#" class="stat-link"><i class="icon-signal"></i><span>Statistics</span></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-7 col-lg-8">
      <div class="video box" style="background-image: url(assets/public/images/video_bg.jpg);">
        <a class="video-btn" href="https://www.youtube.com/embed/1zG1iq9LZ2U" data-gallery="portfolio">Play Video</a>
      </div>
    </div>
  </div>
</div>
