<ul>
  <li>
    <a routerLink="etablissements">Faculties</a>

    <div class="dropdown">
      <ul>
        <li><a routerLink="etablissement">Faculties 1</a></li>
      </ul>
    </div>
  </li>

  <li>
    <a href="academics.html">Academics</a>
  </li>

  <li>
    <a href="#">Courses</a>

    <div class="dropdown">
      <ul>
        <li><a href="courses.html">Courses</a></li>
        <li><a href="courses_details.html">Courses Details</a></li>
      </ul>
    </div>
  </li>

  <li>
    <a href="#">Pages</a>

    <div class="dropdown">
      <ul>
        <li><a href="about.html">About Us</a></li>
        <li><a href="index_2.html">Home 2</a></li>
        <li><a href="login_2.html">Login 2</a></li>
        <li><a href="typography.html">Typography</a></li>
      </ul>
    </div>
  </li>

  <li>
    <a href="contact.html">Contact</a>
  </li>
</ul>
